.title {
    width: 100%;
    text-align: center;
    margin-bottom: 0px;
    color: #2A77AE;
  }
  
  .scoreSummary {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: #2A77AE;
  }
  
  .row {
    margin: 30px; 
    color: #2A77AE;
  }